.container{
  margin-top: 50px;
}
.tags {
  margin-top: 20px;
  width: 70%;
}
.area-margin {
  margin: 0 10px;
}
.area-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
