<div class="container">
  <form (ngSubmit)="addPost(form)" #form="ngForm">
    <mat-form-field>
      <mat-label>სათაური</mat-label>
      <textarea
        ngModel
        [(ngModel)]="addPostData.title"
        id="title"
        name="title"
        type="text"
        matInput
        required
      ></textarea>
    </mat-form-field>
    <div class="editor-container">
      <ckeditor [editor]="Editor" [(ngModel)]="this.addPostData.body" name="editor" class="editor-main"></ckeditor>
    </div>
    <section class="area-section">
      <label class="area-margin">მთავარი კატეგორია:</label>
      <mat-radio-group ngModel name="area" required [(ngModel)]="addPostData.area">
        <mat-radio-button class="area-margin" value="world">მსოფლიო</mat-radio-button>
        <mat-radio-button class="area-margin" value="georgia">საქართველო</mat-radio-button>
        <mat-radio-button class="area-margin" value="interview">ინტერვიუ</mat-radio-button>
        <mat-radio-button class="area-margin" value="blog">ბლოგი</mat-radio-button>
      </mat-radio-group>
    </section>
    <mat-form-field appearance="fill">
      <mat-label>კატეგორია</mat-label>
      <input type="text"
             placeholder="მაგალითად: თბილისი"
             aria-label="category"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="categorySelected($event.option.value)">
        <mat-option *ngFor="let option of categories" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div>
      <input
        ngModel
        id="image"
        name="image"
        style="display: none"
        #imageInput
        type="file"
        required
        (change)="uploadImage($event)"/>
      <button mat-flat-button color="primary" type="button" (click)="imageInput.click()">აირჩიე სურათი</button>
      <span>{{imageName}}</span>
    </div>
    <mat-form-field class="tags" appearance="fill">
      <mat-label>თეგები</mat-label>
      <mat-chip-grid #tagGrid aria-label="Enter Tags">
        <mat-chip-row *ngFor="let tag of this.tags"
                      (removed)="removeTag(tag)"
                      [editable]="true"
                      (edited)="editTag(tag, $event)">
          {{tag.name}}
          <button matChipRemove [attr.aria-label]="'remove ' + tag">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input placeholder="ახალი თეგი..."
               ngModel
               name="tags"
               id="tags"
               required
               [matChipInputFor]="tagGrid"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="addTag($event)"/>
      </mat-chip-grid>
    </mat-form-field>

    <div>
      <button *ngIf="postId" [disabled]="!form.form.valid" style="margin-right: 10px;" type="submit" mat-flat-button color="primary" >რედაქტირება</button>
      <button *ngIf="!postId" [disabled]="!form.form.valid" type="submit" mat-flat-button color="primary" >დამატება</button>
      <button *ngIf="postId" (click)="deletePost(postId)" type="button" mat-flat-button color="warn" >წაშლა</button>
    </div>
  </form>
</div>
